h1 {
  color: green;                           /* колір шрифту */
  background: #EEE;                       /* колір фону (16-ричний формат)*/
  font-family: "Courier New", monospace;  /* шрифт */
  height: 50px;                           /* висота елементу */
  width: 50%;                             /* ширина елементу */
  border: solid black 5px;                /* стиль границі елементу */
  padding: 20px;                          /* відступ від границі елементу до його контенту*/
  margin: 20px;                           /* відступ від границі елементу до іншого елементу */
}

#cat {
  max-width: 20%;
  border-style: solid;
  border-width: 2px;
  border-color: red;
  border-radius: 8px;
}

#personalData {
  padding-left: 2em;
}

#name, #gitLink {
  padding-left: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:red;
}